* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f9f9f9;
  text-align: center;

  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #2c3e50, #3498db);
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

#location {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.prayer-time {
  background: rgba(255, 255, 255, 0.1);
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.prayer-time p {
  margin: 5px 0 0;
  font-size: 1.4em;
  color: #fff;
}

#city-select {
  position: fixed;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 5px;
}